
  .footer {
    background-color: #f8f9fa; /* Change as needed */
    padding: 20px;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .link-box, .Services, .Other-services, .Contact {
    margin: 10px;
  }

  .media-icons a {
    margin: 0 10px;
    color: #333; /* Change as needed */
  }

  .bottom-details {
    text-align: center;
    padding-top: 20px;
  }